apiVersion: v1
kind: ServiceAccount
metadata:
  name: buildpacks-service-account
  namespace: configurator
# secrets:
#   - name: registry-user-pass #Local registry does not need authentication, but it is needed for Docker Hub or other registries
---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: notify
  namespace: configurator
spec:
  params:
    - name: IMAGE
      type: string
    - name: NOTIFY_URL
      type: string
    - name: FC_ID
      type: string
    - name: STATUS
      type: string
  steps:
    - name: notify
      image: curlimages/curl:latest
      command: ["curl"]
      args:
        - -X
        - POST
        - -H
        - "Content-Type: application/json"
        - -d
        - '{"fc_id":"$(params.FC_ID)","image_url":"$(params.IMAGE)","status":"$(params.STATUS)"}'
        - "$(params.NOTIFY_URL)"

---
apiVersion: tekton.dev/v1
kind: Pipeline
metadata:
  name: function-build-pipeline
  namespace: configurator
spec:
  params:
    - name: IMAGE
      type: string
    - name: CONTEXT_DIR
      type: string
    - name: NOTIFY_URL
      type: string
    - name: FC_ID
      type: string
  workspaces:
    - name: source
  tasks:
    # ONLY FOR DEBUGGING
    # - name: list-files
    #   taskSpec:
    #     steps:
    #       - name: list-files
    #         image: busybox:latest
    #         script: |
    #           #!/bin/sh
    #           echo "Recursively listing all files in workspace:"
    #           find /workspace/source -type f
    #   workspaces:
    #     - name: source
    #       workspace: source
    - name: build-function
      retries: 4
      taskRef:
        name: buildpacks-phases
      params:
        - name: APP_IMAGE
          value: $(params.IMAGE)
        - name: CNB_BUILDER_IMAGE
          value: paketobuildpacks/builder-jammy-base:latest
        - name: SOURCE_SUBPATH
          value: $(params.CONTEXT_DIR)
      workspaces:
        - name: source
          workspace: source
  finally:
    - name: notify
      taskRef:
        name: notify
      params:
        - name: IMAGE
          value: $(params.IMAGE)
        - name: NOTIFY_URL
          value: $(params.NOTIFY_URL)
        - name: FC_ID
          value: $(params.FC_ID)
        - name: STATUS
          value: $(tasks.build-function.status)
